@use '../base/global' as *;

//Video Title Css
.titleContainer{position: absolute; top: 50%; transform: translateY(-50%); left: 0; padding-left: 50px; width: 40%;
    h1{font-family: $fontRoboto; @include font60; color: #fff; transition: all 0.5s ease-in-out;}
    p{margin: 10px 0; font-family: $fontSans; @include font24; color: #fff; visibility: hidden; opacity: 0; max-height: 0; transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, visibility 0.3s;  overflow: hidden;}
    .btnContainer{display: flex; align-items: normal; gap: 20px;
        .btn{cursor: pointer; padding: 12px 40px; @include font18; border-radius: 5px; font-family: $fontSans; font-weight: $fontW500;
            img{width: 20px; height: 20px;}
            &.playBtn{color: #000; background: #E8E8E8; border: 1px solid #d5d5d5; display: flex; align-items: center; justify-content: center; gap: 10px;}
            &.InfoBtn{color: #fff; background: #cf1b1b; transition: 0.5s all ease-in-out;
                &:hover{background: #bf4f4f;}
            }
        }
    }
    &:hover{
        p{opacity: 1; visibility: visible; max-height: 400px; }
    }
    @media all and (max-width: 1800px){width: 50%;
        .btnContainer{
            .btn{padding: 12px 38px;}
        }
    }
    @media all and (max-width: 1440px){
        .btnContainer{
            .btn{padding: 10px 35px;}
        }
    }
    @media all and (max-width: 1280px){
        .btnContainer{
            .btn{padding: 8px 30px;
                img{width: 18px; height: 18px;}
            }
        }
    }
    
    @media all and (max-width: 720px){position: unset; transform: translateY(0);width: 100%; left: unset; top: unset; padding: 20px;
        h1{font-size: 20px;}
        p{opacity: 1; visibility: visible; max-height: unset; font-size: 12px;}
        .btnContainer{
            .btn{padding: 8px 16px;
                img{width: 15px; height: 15px;}
            }
        }

        
    }
}

//Video Trailer Css

.videoContainer{width: 100%; height: 100%;position: relative; 
    &::before{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.794) 0%, rgba(250, 250, 250, 0) 100%);}
    .videoframe{width: 100%; height: 100%; aspect-ratio: 16 / 9;}

    @media all and (max-width: 1800px){}
}

//Movie Suggestion CSS

.moviesList{ background: #000; position: relative;
    .wrapper{padding: 20px 0px 20px 20px; margin-top: -100px;
        .allListBox{ margin-bottom: 50px;
            h2{color: #fff; margin-bottom: 20px; @include font24; font-family: $fontSans;}
            .cardsContainer{ position: relative;
                .imgBox{margin-right: 30px; overflow: hidden; border-radius: 20px;
                    img{width: 100%; height: 100%; transition: all 0.5s ease-in-out;}
                    &:hover{
                        img{scale: 1.1;}
                    }
                }
                .slick-slider{position: relative;
                    .slick-arrow{position: absolute; top: 50%; transform: translateY(-50%); z-index: 1; 
                        button{background: #212726; padding: 20px 2px; border-radius: 10px; cursor: pointer;
                            img{width: 20px;}
                        }
                        &.slick-prev{left: -12px;}
                        &.slick-next{right: 15px;
                            button{
                                img{rotate: 180deg;}
                            }
                        }
                    }
                }
            }
            &:last-child{margin-bottom: 0;}
        }
    }
    @media all and (max-width:1800px){
        .wrapper{margin-top: -80px;}
    }
    @media all and (max-width:1600px){
        .wrapper{margin-top: -60px;}
    }
    @media all and (max-width:1440px){
        .wrapper{margin-top: -40px;
            .allListBox{margin-bottom: 40px;
                .cardsContainer{
                    .slick-slider{
                        .slick-arrow{
                            button{padding: 18px 2px;
                                img{width: 18px;}
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1024px){
        .wrapper{padding: 18px 0 18px 18px;
            .allListBox{margin-bottom: 40px;
                .cardsContainer{
                    .imgBox{margin-right: 20px;}
                    .slick-slider{
                        .slick-arrow{
                            button{padding: 16px 2px;
                                img{width: 16px;}
                            }
                            &.slick-next{right: 7px;}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 820px){
        .wrapper{padding: 15px 0 15px 15px;
            .allListBox{margin-bottom: 30px;
                .cardsContainer{
                    .imgBox{margin-right: 20px;}
                }
            }
        }
    }
    @media all and (max-width: 720px){
        .wrapper{margin-top: 0;}
    }
   
}